*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --base-dark: #212121;
}

i {
    cursor: pointer;
    color: var(--base-dark);
}

a {
    color: black;
}

.wrapper {
    display: grid;
    grid-template-rows: 80px 1fr;
}

header {
    box-shadow: 0 -2px 4px 4px grey;
}

main {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow-x: auto;
    min-height: calc(100vh - 80px);
}

.project {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: whitesmoke;
}

.project-header {
    display: flex;
    justify-content: space-between;
}

.project-content {
    display: flex;
    gap: 10px;
}


/* TODO */
.todo {
    width: 250px;
    min-height: 30px;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    resize: vertical;
    overflow: auto;
}

.todo > * {
    padding: 5px;
}

/* TODO-header */
.todo-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    background-color: lightgray;
}

.todo-header input[type="date"] {
    margin-right: auto;
}

/* TODO-header --> dropdown menu */
.todo-menu ul {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 6px;
    background-color: lightgray;
    overflow: hidden;
    transition: transform 0.3s ease;
    transform-origin: top;
    transform: scaleY(0);
}
.todo-menu:focus > ul {
    display: flex;
    flex-direction: column;
    transform: scaleY(100%);
}

.todo-menu-option {
    display: flex;
    gap: 5px;
}

input[type="number"] {
    outline: none;
    border: none;
    width: 30px;
    background-color: transparent;
}

/* TODO-content */
.todo-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.todo-title {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding-bottom: 4px;
}

.todo input:focus {
    outline: none;
}

.todo-text {
    background-color: transparent;
    border: none;
    flex: 1;
    resize: none;
    overflow: hidden;
}

.todo textarea:focus {
    border: none;
    outline: none;
}